
# Created by https://www.gitignore.io/api/node

# Dependency directories
node_modules
lib

#files
.config.json
.my_flows.json.backup
package.json
settings.js

# End of https://www.gitignore.io/api/node